*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

header, footer{
    width: 100%;
    height: 100vh;
    background-color: skyblue;
}
main{
 position: relative;
    width: 100%;
    height: 500vh;
   
}
.scroll{
position: sticky;
top: 0;
 height:100vh;
 width: 100%;
 z-index: 999 ;
}
.intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -120px;
     transition:
        opacity .8s ease,
        transform .8s ease;
}
.intro.hide{
    opacity:0;
    transform:translateY(-60px);
}

.machine{
    width: 100%;
    display: flex;
     justify-content: center;

       
}

.machine img{
    width: 300px;
    height: 650px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: .5rem;
    width: 35%;

    opacity: 0;
    transform: translateY(80px) scale(.95);
    filter: blur(10px);

    transition:
        opacity .7s ease,
        transform .7s ease,
        filter .7s ease;
}
.right1, .left1,.right2, .left2{
     top:20%;
     opacity: 0;
}
.left1, .left2{
right: 0;
}
.show{
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
}

