*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden !important;
    
}

header, footer{
    width: 100%;
    height: 100vh;
    background-color: skyblue;
}
main{
    
 position: relative;
    max-width: 100%;
    height: 1000vh;
   
}
.scroll{
position: sticky;
top: 0;
 height:100vh;
 width: 100%;
 z-index: 999 ;
}
.intro{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin-bottom: -312px;
   
}
.intro h1{
        font-size: clamp(28px, 5vw, 50px);

}

.machine{
    display: flex;
    justify-content: center;
    max-width: 20%;
    margin: 10rem;
       
}
.machine::before{
    content:"";

    position:absolute;

    max-width:800px;
    height:700px;

    border-radius:50%;

    background:
    radial-gradient(circle,
        #ff8ac8 0%,
        #ffb3d9 30%,
        #ffd4e8 55%,
        transparent 80%);

    filter:blur(70px);
    left:45%;
    top:70%;

    transform:translate(-50%,-50%);

    z-index:-1;
}
.center{
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.machine img{
    max-Width: 550px;
    height: 900px;
}

.content{
    position:absolute;
   width:100%;
    max-width:350px;
    top:35%;
    padding: .5rem;
    opacity:0;
     word-wrap: break-word;
    overflow-wrap: break-word;
    transform:translateY(80px);
    transition:none;
}
.content h2{
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: normal;
    font-size: clamp(28px, 3vw, 50px);

}
/* .left1,
.left2,
.right1,
.right2{
    transform: translateY(-50%) !important;
} */
.left1,
.left2{
    right:8%;
   
}
.right1,
.right2{
    left:9%;
   
}


@media (max-width: 1200px){
    .machine img{
    Width: 550px;
    height: 650px;
}
.machine::before{
      width:600px;
    height:400px;
    filter:blur(50px);
    top:70%;
    left: 45%;
}
.center{
     padding-right: 1rem;
}
}





@media (max-width: 760px){
    
.content{
    width:80%;
    max-width:320px;
}

.left1,
.left2,
.right1,
.right2{
    left:50%;
    transform:translate(-50%);
    top: 50%;
}
    .machine img{
        width: 200px;
        height: 400px;

    }
    .machine::before{
        width: 300px;
        height: 300px;

    }


.center{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}
.intro{
   padding-top: 2rem;
    margin-bottom: -240px;
    width: 100%;
   
}
.intro p{
    font-size: 15px;
}
    main{
        padding: 1rem;
    }
}

@media (max-width: 420px){
     .machine img{
        width: 300px;
        height: 400px;

    }
    
    .left1,
.left2,
.right1,
.right2{
    left:50%;
    transform:translateX(-50%);
  top: calc(55% + 10px);
}
} 

@media (max-width: 380px){
    .machine img{
        width: 300px;
        height: 380px;
    }
    
    .left1,
.left2,
.right1,
.right2{
    left:50%;
    transform:translateX(-50%);
 top: 65%;
}
} 

@media (min-width: 760px) and (max-width: 980px) {

.machine img{
   margin-top: 10rem;
   padding: 0 8rem 0 8rem;
}

}

   

